.sidebar-menu {
  position: fixed;
  top: 0;
  width: 0;
  height: 100vh;
  background-color: var(--block-bg);
  color: var(--block-text);
  overflow: hidden;
  transition: width 0.3s ease;
  box-shadow: -2px 0 10px rgb(0 0 0 / 52%);
  z-index: 1999;
  padding: 0.8rem 0;
  box-sizing: border-box;
  display: flex;            /* Включаем flex */
  flex-direction: column;   /* Размещаем элементы вертикально */
}

.sidebar-menu.open {
  width: 280px;
}

.sidebar-menu h2 {
  margin: 1.9rem 0px 3rem 11.5rem;
  font-size: 1.8rem;
}

.sidebar-menu button {
  display: block;
  margin: 0.5rem 1rem;
  padding: 0.6rem;
  background: var(--accent-color);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  font-size: 0.95rem;
  transition: background-color 0.2s;
}

.sidebar-menu button:hover {
  background: var(--accent-color-hover);
}

.close-button {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  background: transparent;
  font-size: 1.8rem;
  border: none;
  color: var(--block-text);
  cursor: pointer;
}

.add-form-wrapper {
  margin: 1rem 0.2rem;
  padding: 0.6rem;
  background-color: var(--widget-bg);
  border-radius: 6px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}

.sidebar-menu h4 {
  margin: 1.2rem 1rem 0.5rem;
  font-size: 1rem;
}

.sidebar-menu select {
  margin: 0 1rem 0.5rem;
  width: calc(100% - 2rem);
  padding: 0.4rem;
  background: var(--block-bg);
  color: var(--block-text);
  border: 1px solid #666;
  border-radius: 4px;
  font-size: 0.9rem;
}

/* Кнопка-переключатель темы (switch) в самом низу справа */
.theme-switch {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

/* The switch - the box around the slider */
.switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  --size-of-icon: 1.4em;
  --slider-offset: 0.3em;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dedede;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 100%);
  transition: .4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
  background: #303136;
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

